In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
some_list = [1, 3, 5, np.nan, 6, 8]
ind = ['1st day', '2nd day', '3rd day', '4th day', '5rd day', '6th day']
ser = pd.Series(some_list, index=ind, name='Temperature')

In [3]:
ser

1st day    1.0
2nd day    3.0
3rd day    5.0
4th day    NaN
5rd day    6.0
6th day    8.0
Name: Temperature, dtype: float64

In [4]:
ser[ser > 2]
ser.sort_index()
ser.sort_values()

1st day    1.0
2nd day    3.0
3rd day    5.0
5rd day    6.0
6th day    8.0
4th day    NaN
Name: Temperature, dtype: float64

## DataFrame

In [10]:
some_array = [[1,1,5], [2,2,6], [3,3,7], [np.nan, 4,8]]
df = pd.DataFrame(some_array, index=['a', 'b', 'c', 'd'], columns=['one', 'two', 'three'])

# индексирование
# df[0] - не прокатит
df[1:2] # прокатит
df.iloc[1:3, :2] # по индексам
df.loc['a':'c', 'one':'two']

In [ ]:
pass_link = 'https://www.dropbox.com/s/lyzcuxu1pdrw5qb/titanic_data.csv?dl=1'
titanic_passengers = pd.read_csv(pass_link, index_col='PassengerId') # index_col=?

In [ ]:
titanic_passengers.shape
titanic_passengers.info()
titanic_passengers.describe()

In [ ]:
titanic_passengers['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
titanic_passengers.groupby(['Pclass'])['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [ ]:
surv_link = 'https://www.dropbox.com/s/v35x9i6a1tc7emm/titanic_surv.csv?dl=1'
df_2 = pd.read_csv(surv_link)

In [ ]:
df_2 = df_2.sample(frac=1) # можно взять часть датафрейма
df_2.head()

     Survived
474         0
472         1
68          1
335         0
704         0

In [ ]:
titanic_passengers = titanic_passengers.join(df_2)

In [ ]:
import os

technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)

# методы

# DataFrame.query(expr, inplace=False, **kwargs)
df.query("`Courses Fee` >= 23000 and `Courses Fee` <= 24000")
# custom value
values=['Spark','PySpark']
print(df.query("Courses not in @values"))
# apply + lambda, isin
df.apply(lambda row: row[df['Courses'].isin(['Spark','PySpark'])])
# contains, startswith
df[df['Courses'].str.contains("Spark")]
df[df['Courses'].str.startswith("P")]